<mat-card>
    <h1>Login Form</h1>
    <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>email</mat-label>
                <input matInput placeholder="example:you@you.com"
                [(ngModel)] = email
                name = email
                required>

              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)] = password
                name = password
                type = password
                required>
              </mat-form-field>
        </div>
        <p style="color:red" *ngIf = "isError">{{errorMessage}}</p>
        <div>
            <button [disabled] = "!loginForm.form.valid" type = "submit" mat-raised-button color="primary">Login</button>
        </div>
    </form>
</mat-card>

