<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<mat-accordion *ngIf = "(authService.getUser()|async)">

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
            {{book.author}}
            <button mat-raised-button
             color="primary"
            (click) = "deleteBook(book.id)">Delete</button>
        </mat-panel-description>
      </mat-expansion-panel-header >
     
    <p *ngIf = 'book.summary'>
      {{book.summary}}
    </p>
    <p *ngIf = '!book.summary'>
      THERE IS NO SUMMARY YET 
    </p> 
</mat-expansion-panel>

  </mat-accordion>
  