<mat-card>
    <h1>Update Book</h1>
    <form #bookForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>title</mat-label>
                <input matInput
                [(ngModel)] = title
                name = title
                required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Author</mat-label>
                <input matInput [(ngModel)] = author
                name = author
                type = author
                required>             
              </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="primary">Update</button>
        </div>
    </form>
</mat-card>



