<label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="blabla">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season.toUpperCase()}}
  </mat-radio-button>
</mat-radio-group>
<div style=color:red *ngIf="blabla!='bbc'&&blabla!='cnn'&&blabla!='nbc'">
  The selected season is not set.
</div>
