<mat-card>
    <h1>Regiater Form</h1>
    <form #registerForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>email</mat-label>
                <input matInput placeholder="example:you@you.com"
                [(ngModel)] = email
                name = email
                required>
                <mat-hint>The one you really read</mat-hint>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput placeholder="example: 42343@@##aZ" [(ngModel)] = password
                name = password
                type = password
                required>
                <mat-hint>8 chracters or more</mat-hint>                
              </mat-form-field>
        </div>
        <div>
            <button [disabled] = "!registerForm.form.valid" type = "submit" mat-raised-button color="primary">Sing-Up</button>
        </div>
    </form>
</mat-card>


